#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.under {
    text-decoration: underline;
}

.no-dur2 {
    color: white;
}

.no-dur2:hover {
    color: rgb(190, 190, 190);
}

.no-dur {
    text-decoration: none;
    color: white;
}

.no-dur:hover {
    color: rgb(190, 190, 190);
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
}


.logo-asta {
    color: white;
    top: 1.8vw;
    position: absolute;
    z-index: 99;
    left: 4.8vw;
    font-size: 2.06vw;
}

.logo-city {
    color: white;
    top: 4.3vw;
    position: absolute;
    z-index: 99;
    left: 26.25vw;
    font-size: 0.69vw;
}

.images-logo {
    width: 59%;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 1.55vw;
    right: 5vw;
    user-select: none;
}

.img-fluid {
    display: inline-block;
    overflow: hidden;
}

.img-fluid {
    transition: 0.5s;
    display: block;
}

.img-fluid:hover {
    transform: scale(1.08);
    /* Увеличиваем масштаб */
}

.caption {
    line-height: 4vw;
    font-size: 3.1vw;
    text-align: left;
    top: 4vw;
    left: 4.8vw;
}

.carousel-inner {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.carousel-indicators {
    padding: 2vw;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 2vw;
}

.carousel-control-next-icon {
    position: absolute;
    right: 2vw;
}

.c-item {
    max-width: 100%;
    min-height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    font-family: 'Inter', sans-serif !important;
    /* overflow: visible !important;
    padding-left: 0px !important;
    padding-right: 0px !important; */
    overflow-y: overlay;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../font/Inter-ExtraBold.woff2") format("woff2");
}

head {
    font-family: 'Inter';
}

.info {
    display: none;
}

.bmw::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
}

.mers::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
}

.audi::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
}

.bmw-sel {
    text-align: center;
    color: black;
}

.title-cars {
    display: block;
    margin-left: auto;
}

.chip_info {
    color: white;
    margin: 4%;
    font-size: 1.7vw;
}

.text-muted {
    text-decoration: none;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

.hover-text-one figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.hover-text-one figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
    pointer-events: none;
}

.hover-text-one figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hover-text-one figure h4,
.hover-text-one figure p {
    margin: 0;
    text-align: center;
}

.hover-text-one figure p {
    font-size: 75%;
}

.hover-text-one figure h4 {
    font-size: 81%;
}

figure.effect-text-four figcaption {
    text-align: right;
}

figure.effect-text-four h4,
figure.effect-text-four p {
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 4px 0;
}

figure.effect-text-four p {
    bottom: 15%;
    line-height: 1.42;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-text-four h4 {
    top: 69%;
    color: black;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-text-four:hover h4 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-text-four h4::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0%;
    content: '';
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-text-four h4::after,
figure.effect-text-four p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    background-color: black;
}

figure.effect-text-four:hover h4::after,
figure.effect-text-four:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (min-width: 2100px) {
    .footer {
        font-size: 1vw;
    }
}

@media (min-width: 1601px) {
    .logo-asta {
        color: white;
        top: 1.8vw;
        position: absolute;
        z-index: 99;
        left: 4.8vw;
        font-size: 2.06vw;
    }

    .logo-city {
        color: white;
        top: 4.3vw;
        position: absolute;
        z-index: 99;
        left: 26.25vw;
        font-size: 0.69vw;
    }

    .images-logo {
        width: 59%;
        height: auto;
        position: absolute;
        z-index: 99;
        top: 1.55vw;
        right: 5vw;
        user-select: none;
    }

    .caption {
        line-height: 4vw;
        font-size: 3.1vw;
        text-align: left;
        top: 4vw;
        left: 4.8vw;
    }

    .bmw {
        background-position: center;
        min-height: 103.4vh;
        top: 0vh;
    }

    .mers {
        background-position: center;
        min-height: 103.4vh;
        top: 0vh;
    }

    .audi {
        background-position: center;
        min-height: 103.4vh;
        top: 0vh;
    }
}

@media (max-width: 1601px) {
    .carousel-indicators {
        padding: 3vw;
    }
}

@media (max-width: 1366px) {
    .caption {
        top: 5%;
    }

    .images-logo {
        width: 60vw;
    }

    .carousel-indicators {
        padding: 1.7vw;
    }

    .c-item {
        background-size: cover;
        min-height: 100vh;
        background-position: center;
    }
}

@media (max-width: 1290px) {

    .col,
    [class*="col-"] {
        padding-right: 7px;
        padding-left: 7px;
    }

    .carousel-indicators {
        top: 90%;
    }

    .hover-text-one figure h4 {
        font-size: 62%;
    }

    figure.effect-text-four h4 {
        top: 60%;
    }

    .table {
        font-size: 13px;
    }

    .c-item {
        background-size: cover;
        min-height: 100vh;
        background-position: center;
    }
}

@media (max-width: 950px) and (min-height: 900px) {
    .table {
        font-size: 16px;
    }

    .bmw {
        background-image: url("../images/slider_webp/bmw-small.webp") !important;
        background-position: center;
        min-height: 99vh;
    }

    .mers {
        background-image: url("../images/slider_webp/mers-small.webp") !important;
        background-position: center;
        top: 3vh;
        min-height: 99vh;
    }

    .audi {
        background-image: url("../images/slider_webp/audi-small.webp") !important;
        background-position: center;
        top: 0vh;
        min-height: 99vh;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .caption {
        font-size: 6vw;
        line-height: 9vw;
        top: 17vw;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }

    .images-logo {
        display: grid;
        grid-template-columns: 24vw 24vw;
        top: 115vh;
        width: 30vw;
        height: auto;
        left: 22vw;
        column-gap: 12vw;
        row-gap: 12vw;
    }

    .logo-asta {
        color: white;
        top: 6vw;
        position: absolute;
        z-index: 99;
        left: 21vw;
        font-size: 4.06vw;
    }

    .logo-city {
        color: white;
        top: 11vw;
        position: absolute;
        z-index: 99;
        left: 57vw;
        font-size: 2vw;
    }

    .c-item {
        max-width: 100%;
        min-height: 120vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .info {
        color: white;
        text-align: center;
        font-size: 9vw;
        padding-top: 1vw;
        display: inline;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }

    .hover-text-one figure h4 {
        font-size: 82%;
    }

    .chip_info {
        margin-top: 160vh !important;
        font-size: 5vw;
    }
}

@media (max-width: 1000px) {
    figure.effect-text-four h4 {
        top: 70%;
    }
}

@media (max-width: 1070px) and (max-height: 500px) {
    .carousel-indicators {
        display: none;
    }
}

@media (max-width: 760px) and (min-height: 500px) {
    .chip_info {
        margin-top: 105vh !important;
        font-size: 5vw;
    }

    .c-item {
        background-size: cover;
        min-height: 80vh !important;
        background-position: center;
    }

    .caption {
        font-size: 6vw;
        line-height: 9vw;
        top: 14vw;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }

    .logo-asta {
        font-size: 4vw;
        left: 19%;
        top: 5vw;
    }

    .logo-city {
        font-size: 1.2vw;
        left: 60.6%;
        top: 9.6vw;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .info {
        color: white;
        text-align: center;
        font-size: 8vw;
        padding-top: 1vw;
        display: inline;
    }

    .bmw {
        background-image: url("../images/slider_webp/bmw-small.webp") !important;
        background-position: center;
        min-height: 95vh;
    }

    .mers {
        background-image: url("../images/slider_webp/mers-small.webp") !important;
        background-position: center;
        min-height: 95vh;
        top: 3.3vh;
    }

    .audi {
        background-image: url("../images/slider_webp/audi-small.webp") !important;
        background-position: center;
        min-height: 95vh;
        top: 0vh;
    }

    .mers-c {
        top: 18vw;
    }

    .footer {
        font-size: 3.4vw;
    }
}

@media (max-width: 575px) and (min-height: 500px) {
    .chip_info {
        margin-top: 120vh !important;
        font-size: 5vw;
    }

    .c-item {
        background-size: cover;
        min-height: 80vh !important;
        background-position: center;
    }

    .caption {
        font-size: 9.3vw;
        line-height: 9vw;
        top: 20vw;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .logo-asta {
        font-size: 5.4vw;
        left: 12%;
        top: 6vw;
    }

    .logo-city {
        font-size: 2.5vw;
        left: 61.44%;
        top: 12.8vw;
    }

    .images-logo {
        display: grid;
        grid-template-columns: 27vw 27vw;
        top: 90vh;
        width: 30vw;
        height: auto;
        left: 20vw;
        column-gap: 12vw;
        row-gap: 12vw;
    }

    .info {
        color: white;
        text-align: center;
        font-size: 9vw;
        padding-top: 1vw;
        display: inline;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .bmw {
        background-image: url("../images/slider_webp/bmw-small.webp") !important;
        background-position: center;
        min-height: 80vh;
    }

    .mers {
        background-image: url("../images/slider_webp/mers-small.webp") !important;
        background-position: center;
        top: 3vh;
        min-height: 80vh;
    }

    .audi {
        background-image: url("../images/slider_webp/audi-small.webp") !important;
        background-position: center;
        top: 0vh;
        min-height: 80vh;
    }

    .table {
        font-size: 11.9px !important;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 72% !important;
    }
}

@media (max-width: 360px) and (max-height: 600px) {
    .chip_info {
        margin-top: 145vh !important;
        font-size: 5vw;
    }

    .c-item {
        background-size: cover;
        min-height: 80vh !important;
        background-position: center;
    }

    .caption {
        font-size: 9vw;
        line-height: 9vw;
        top: 10vw;
        text-align: center;
        left: 0vw;
    }

    .logo-asta {
        font-size: 5.4vw;
        left: 12%;
        top: 6vw;
    }

    .logo-city {
        font-size: 2.2vw;
        left: 64.1%;
        top: 12.4vw;
    }

    .images-logo {
        display: grid;
        grid-template-columns: 27vw 27vw;
        top: 95vh;
        width: 30vw;
        height: auto;
        left: 20vw;
        column-gap: 12vw;
        row-gap: 12vw;
    }

    .info {
        color: white;
        text-align: center;
        font-size: 9vw;
        padding-top: 1vw;
        display: inline;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .bmw {
        background-image: url("../images/slider_webp/bmw-small.webp") !important;
        background-position: center;
        min-height: 80vh;
    }

    .mers {
        background-image: url("../images/slider_webp/mers-small.webp") !important;
        background-position: center;
        top: 3vh;
        min-height: 80vh;
    }

    .audi {
        background-image: url("../images/slider_webp/audi-small.webp") !important;
        background-position: center;
        top: 0vh;
        min-height: 80vh;
    }

    .table {
        font-size: 11.9px;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }
}

@media (max-width: 800px) and (max-height: 450px) {
    figure.effect-text-four h4 {
        top: 60%;
    }
}

@media (max-width: 1040px) and (min-height: 1200px) {
    .chip_info {
        margin-top: 160vh !important;
        font-size: 5vw;
    }

    .footer {
        font-size: 3vw;
    }

    .table {
        font-size: 19px;
    }

    .bmw {
        background-image: url("../images/slider_webp/bmw-small.webp") !important;
        background-position: center;
        min-height: 99vh;
    }

    .mers {
        background-image: url("../images/slider_webp/mers-small.webp") !important;
        background-position: center;
        top: 3vh;
        min-height: 99vh;
    }

    .audi {
        background-image: url("../images/slider_webp/audi-small.webp") !important;
        background-position: center;
        top: 0vh;
        min-height: 99vh;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .caption {
        font-size: 6vw;
        line-height: 9vw;
        top: 17vw;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }

    .images-logo {
        display: grid;
        grid-template-columns: 22vw 22vw;
        top: 115vh;
        width: 30vw;
        height: auto;
        left: 22vw;
        column-gap: 12vw;
        row-gap: 12vw;
    }

    .logo-asta {
        color: white;
        top: 6vw;
        position: absolute;
        z-index: 99;
        left: 21vw;
        font-size: 4.06vw;
    }

    .logo-city {
        color: white;
        top: 11vw;
        position: absolute;
        z-index: 99;
        left: 57vw;
        font-size: 2vw;
    }

    .c-item {
        max-width: 100%;
        min-height: 120vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .info {
        color: white;
        text-align: center;
        font-size: 7vw;
        padding-top: 2vw;
        display: inline;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }

    .hover-text-one figure h4 {
        font-size: 82%;
    }
}

@media (max-width: 1600px) and (min-height: 500px) {

    .col,
    [class*="col-"] {
        padding-right: 7px;
        padding-left: 7px;
    }

    .carousel-indicators {
        top: 90%;
    }

    .table {
        font-size: 15px;
    }

    .c-item {
        background-size: cover;
        min-height: 100vh;
        background-position: center;
    }

    figure.effect-text-four h4 {
        top: 66.8%;
        font-size: 13.5px;
    }
}

@media (max-width: 360px) and (max-height: 500px) {
    .c-item {
        background-size: cover;
        min-height: 80vh !important;
        background-position: center;
    }

    .caption {
        font-size: 7vw;
        line-height: 7vw;
        top: 10vw;
        text-align: center;
        left: 15vw;
    }

    .logo-asta {
        font-size: 5.4vw;
        left: 12%;
        top: 6vw;
    }

    .logo-city {
        font-size: 2.2vw;
        left: 64.1%;
        top: 12.4vw;
    }

    .images-logo {
        display: grid;
        grid-template-columns: 27vw 27vw;
        top: 96vh;
        width: 30vw;
        height: auto;
        left: 20vw;
        column-gap: 12vw;
        row-gap: 12vw;
    }

    .info {
        color: white;
        text-align: center;
        font-size: 8vw;
        padding-top: 3vw;
        display: inline;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .bmw {
        background-image: url("../images/slider_webp/bmw-small.webp") !important;
        background-position: center;
        min-height: 80vh;
    }

    .mers {
        background-image: url("../images/slider_webp/mers-small.webp") !important;
        background-position: center;
        top: 3vh;
        min-height: 80vh;
    }

    .audi {
        background-image: url("../images/slider_webp/audi-small.webp") !important;
        background-position: center;
        top: 0vh;
        min-height: 80vh;
    }

    .table {
        font-size: 11.9px;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }
}

@media (max-width: 1070px) and (min-height: 700px) {
    figure.effect-text-four h4 {
        top: 70%;
    }
}

@media (max-width: 1200px) and (min-height: 730px) {
    figure.effect-text-four h4 {
        top: 62%;
        font-size: 11px;
    }
}

@media (max-width: 1070px) and (min-height: 590px) {
    figure.effect-text-four h4 {
        top: 64%;
        font-size: 11px;
    }

    .table {
        font-size: 13.9px;
    }
}